

body
{
    text-align: center;
    margin-right: 9pt; 
    margin-left: 9pt;
}

p
{
    text-indent: 25pt;
    font-size: 16pt;
    font-family: 'Open Sans', sans-serif;
}

h1
{
    font-family: 'Open Sans', sans-serif;
}

h4
{
    font-family: 'Open Sans', sans-serif;
}

.textBox
{
    max-width: 720pt;
    text-align: left;
}

.small-spacer
{
    min-height: 30pt;
}

.containerMaxWidth
{
    max-width: 720pt;
}

