

body
{
    text-align: center;
    margin-right: 9px;
    margin-left: 9px;
}

p
{
    text-indent: 25px;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
}

h1
{
    font-family: 'Open Sans', sans-serif;
}

h4
{
    font-family: 'Open Sans', sans-serif;
}

img
{
  
  max-width: 100%;
}

.textBox
{
    max-width: 720px;
    text-align: left;
}

.small-spacer
{
    min-height: 30px;
}

.containerMaxWidth
{
    max-width: 720px;
}

