body{
  text-align:center;
}

p {
  text-indent: 25px;
  font-size: 18px;
  font-family: 'Open Sans', sans-serif;
}

h1 {
  font-family: 'Open Sans', sans-serif;
}

h4 {
	font-family: 'Open Sans', sans-serif;
}

.img{
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none;          /* Likely future */
}

.textBox{
	position:relative;
	left:50%;
	margin-left:-360px;
	width:720px;
	text-align:left;
	position:relative;
}